body {
    height: 100vh;

}
/* 
#title {
    font-size: 3rem;
    text-align: center;
    width: 100%;
}

#workouts {
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
    
}

#form1 {
    font-size: 1.5rem;
    border: 1px solid;
    display: flex; 
    flex-direction: column;
} */